mutagen==1.47.0
requests==2.32.5
yt-dlp==2026.01.29
gevent==25.9.1
gevent-websocket==0.10.1
Flask==3.1.2
Flask-SocketIO==5.6.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
musicbrainzngs==0.7.1
sponsorblock.py==0.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-magic==0.4.27
pytest==9.0.2
ffmpeg-python==0.2.0
youtube-search-python @ git+https://github.com/srobies/youtube-search-python@e2328e3
spotipy==2.25.2
urllib3==2.6.3
deezer-python==7.2.0
lyricsgenius==3.7.5
pillow==12.1.0
httpx==0.28.1
