mutagen==1.47.0
requests==2.32.5
yt-dlp==2025.10.22
gevent==25.5.1
gevent-websocket==0.10.1
Flask==3.1.1
Flask-SocketIO==5.3.6
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
musicbrainzngs==0.7.1
sponsorblock.py==0.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic==0.4.27
pytest==8.3.5
ffmpeg-python==0.2.0
youtube-search-python @ git+https://github.com/srobies/youtube-search-python@e2328e3
spotipy==2.25.1
urllib3==2.5.0
deezer-python==6.1.1
lyricsgenius==3.0.1
pillow==10.4.0
httpx==0.28.1
